{% extends "base.html.twig" %}

{% block title %}AppBundle:Library:index{% endblock %}

{% block body %}
    <div class="changeLanguage">
        <a href="{{ path('app_library_changelanguage', {'_locale': 'ru'}) }}">
            ru
        </a>
        <a href="{{ path('app_library_changelanguage', {'_locale': 'en'}) }}">
            en
        </a>
    </div>
    <p>
        {% trans %}
            <a href="/admin"> Enter to admin </a>
        {% endtrans %}
    </p>
    <h1>
        {% trans %}
            Welcome to Library
        {% endtrans %}
    </h1>
    <a href="{{ path('addReader') }}">
        {% trans %}
            Reader Registration
        {% endtrans %}
    </a>
    <h1>
        {% trans %}
            Genres
        {% endtrans %}
    </h1>
    <ul>

        {% for category in categories %}
            <li><a href="{{ path('app_library_selectgenre', {'id': category.id}) }}">{{ category.categoryTitle }}</a></li>
        {% endfor %}


    </ul>
    {% for book in allBooks %}
        <h1>{{ book.title }}</h1>
        <img src="{{ vich_uploader_asset(book, 'imageFile')}}">
        <a href="{{ path('app_library_takebook', {'id': book.id}) }}"> <p>{{ book.author }}</p></a>
    {% endfor %}

{% endblock %}
