{% extends "base.html.twig" %}

{% block title %}AppBundle:Library:index{% endblock %}

{% block body %}
    <h1>
        {% trans %}
            Reader Registration
        {% endtrans %}
    </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
