{% extends "base.html.twig" %}

{% block title %}AppBundle:Library:index{% endblock %}

{% block body %}
    <h1>Welcome to the Library:index page</h1>
    <a href="{{ path('addReader') }}">Регистарация</a>
    <h1>Urban</h1>
    <ul>

        {% for category in categories %}
            <li><a href="{{ path('app_library_selectgenre', {'id': category.id}) }}">{{ category.categoryTitle }}</a></li>
        {% endfor %}


    </ul>
    {% for book in allBooks %}
        <h1>{{ book.title }}</h1>
        <img src="{{ vich_uploader_asset(book, 'imageFile')}}">
        <a href="{{ path('app_library_takebook', {'id': book.id}) }}"> <p>{{ book.author }}</p></a>
    {% endfor %}

{% endblock %}
