{% extends "base.html.twig" %}

{% block title %}AppBundle:Library:index{% endblock %}

{% block body %}
    <div class="changeLanguage">
        <a href="{{ path('app_library_changelanguage', {'_locale': 'ru'}) }}">
            ru
        </a>
        <a href="{{ path('app_library_changelanguage', {'_locale': 'en'}) }}">
            en
        </a>
    </div>
    <h1>
        {% trans %}
            Congratulations on registering your library card
        {% endtrans %}
    </h1>
    <h2>{% trans %} Dear {% endtrans %} {{ reader.getName }}  {{ reader.getSurname }}</h2>
    <p>{% trans %}Your ticket number{% endtrans %} {{ reader.getNumberTicket }}</p>

    <a href="{{ path('mainPage') }}">
        {% trans %}
            Go to Main Page
        {% endtrans %}
    </a>
{% endblock %}
